@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

:root {
  --blue: hsl(249, 99%, 64%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --red: hsl(0, 100%, 66%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --violet: hsl(278, 94%, 30%);
  --white: hsl(0, 0%, 100%);
  --base-fs: 18px;
  --font-space: "Space Grotesk", sans-serif;
}
